html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  text-align: center;
  overflow-y: scroll;
}

main {
  display: inline-block;
  width: 1024px;
  min-width: 1024px;
  max-width: 1024px;
  padding: 24px;
  overflow-x: auto;
  text-align: center;
}

table {
  width: 100%;
}

table {
  text-align: left;
  padding: 2px 12px;
}

table td {
  padding: 4px 12px;
}

a {
  text-decoration: none;
}

pre {
  overflow-x: auto;
}

img {
  max-width: 100%;
}

#readme {
  max-width: 100%;
  text-align: left;
}


#readme > div {
  padding-bottom: 20px;
}